
<div class="item item form-group">
    <div class="col-md-6 col-sm-6 offset-md-3">
        <input type="submit" value="Save" class="btn btn-success" />
        @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-primary" })

    </div>
</div>